<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572618892581-m85salfboj5gqfmcnereogkgl8kobbnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572618892581-m85salfboj5gqfmcnereogkgl8kobbnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ4vsd_CK9KnjJdF54ijWPajUMzPJvVng</string>
	<key>GCM_SENDER_ID</key>
	<string>572618892581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samrehman.Mercedes11</string>
	<key>PROJECT_ID</key>
	<string>mercedes-benz-852ce</string>
	<key>STORAGE_BUCKET</key>
	<string>mercedes-benz-852ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572618892581:ios:e15db87ff766b2c6</string>
	<key>DATABASE_URL</key>
	<string>https://mercedes-benz-852ce.firebaseio.com</string>
</dict>
</plist>